{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<main class="container">
{% include 'includes/inc_blog.html' %}
  <div class="row mb-2">
    {% for article in object_list %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="fs-3"> {{ article.title }}</p>
          <p class="card-text mb-auto">{{ article.content | truncatechars:80 }}</p>
          <a href="{% url 'blog:article_detail' article.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
            Продолжить чтение
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
           <img class="bd-placeholder-img" width="150" height="150" src="{{ article.preview  | media_filter }}"</img>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

        <div class="p-4">
          <h4 class="fst-italic">Архив</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Июль 2024</a></li>
            <li><a href="#">Июнь 2024</a></li>
            <li><a href="#">Май 2024</a></li>
          </ol>
        </div>
</main>

{% endblock %}