{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Контакты</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Контактная информация</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Театральная пл., 1, Москва, Россия, 125009</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон</td>
                            <td>+7 495 455-55-55</td>
                        </tr>
                        <tr>
                            <td class="w-25">Факс</td>
                            <td>+7 495 692-00-50</td>
                        </tr>
                        <tr>
                            <td class="w-25">Email</td>
                            <td>sales@bolshoi.ru</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Реквизиты</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Наименование</td>
                            <td>Государственный академический Большой театр России</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>125009, Москва, Театральная площадь, 1</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>7707079537</td>
                        </tr>
                        <tr>
                            <td class="w-25">ОРГН</td>
                            <td>1027739856539</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Оставьте заявку и мы перезвоним</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                        </div>
                        <button type="submit" class="btn btn btn-block btn-outline-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}